@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0px auto;
  font-size: 16px;
  color: #cacaca;
  background: #131313;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.sectionFlex {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

header {
  width: 100%;
  padding: 22px 0px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  background: #232323;
}
.center {
  max-width: 1400px;
  width: 100%;
  padding: 0px 20px;
}

.headerBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  padding: 8px 25px;
  color: #fff;
  background-color: blueviolet;
  margin-right: 15px;
}
.activeLink {
  background-color: rgb(108, 22, 189);
}
.headerBox input {
  padding: 8px 10px;
  border-radius: 8px;
  background-color: whitesmoke;
  border: 2px solid blueviolet;
}
.headerBox input:focus {
  outline: none;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 30px;
  flex-wrap: wrap;
  padding: 40px 0;
}

.card {
  position: relative;
  width: 47%;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(198, 151, 241);
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.card:hover:before {
  clip-path: circle(300px at 80% -20%);
} */

.card:after {
  content: "Unlink";
  position: absolute;
  top: 30%;
  font-size: 5em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255, 255, 25, 0.05);
}

.card .contentBx {
  position: relative;
  width: 100%;
  text-align: center;
  transition: 1s;
  z-index: 10;
  padding: 20px;
}

.card .contentBx h2 {
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
  margin-bottom: 15px;
}

.card .contentBx a {
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin: 10px;
}

.card:hover .contentBx a {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
}

.nationality {
  font-size: 14px;
  color: salmon;
  margin-bottom: 20px;
}

.pagination {
  width: 100%;
  list-style: none;
  text-align: center;
  margin-bottom: 10px;
}
.pagination li {
  display: inline-block;
}
.pagination li a {
  padding: 6px 13px;
  border-radius: 5px;
  background-color: #cacaca;
  display: block;
  color: #131313;
  margin: 0px 5px;
}
.pagination li a:hover {
  background-color: blueviolet;
  color: #fff;
}

.previous a,
.next a {
  background-color: #232323 !important;
  color: #fff !important;
}
.paginationActive {
  background-color: blueviolet !important;
  color: #fff !important;
}
